.left {
    display:inline-block;
    width: 50%;
}
.right {
    display:inline-block;
    width: 50%;
    float: right;
}
.ignore {
    opacity: 0.4;
}

.sortorder:after {
    content: '\25b2'; /* up arrow */
}
.sortorder.reverse:after {
    content: '\25bc'; /* down arrow */
}
